# Data Analyst Salaries (ETL)
---

### Information:
Updated September 1, 2020

### Summary:
This Project is using the ETL process of extracting data by taking webscraped data analyst salaries and parsing through the data to clean and readily format the information to load onto a database.

In [9]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib as plt

In [10]:
#Read the csv into pandas dataframe
df = pd.read_csv('cleaned_DA_salaries.csv')
df.head(1)

,Job Title,Salary Estimate,Company Name,Location,Size,Type of ownership,Industry,Sector
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Vera Institute of Justice\n3.2,"New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit

In [11]:
#In this cell we will be handling missing values

df=df.replace({'-1':np.NaN})
df= df.dropna()

missing_values_count = df.isnull().sum()
missing_values_count

df.sample(5)

total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

missing_percentage = (total_missing/total_cells) * 100
missing_percentage

0.0

In [12]:
#This cell will deal with cleaning the salaries of the data analysts to ensure it
#is an integer data type therefore it will be easier for us to interpret and perform
#calculations to graph better models.

#Cleaning 'Salary Estimate' column by getting rid of unnecessary text

minimum_salary = df['Salary Estimate'].apply(lambda x: x.split('-')[0])
maximum_salary = df['Salary Estimate'].apply(lambda x: x.split('-')[1])
subtract_glassdoor_unit = maximum_salary.apply(lambda x: x.replace('(Glassdoor est.)', ''))

maximum_salary= subtract_glassdoor_unit

#Cleaning up commas and converting data type to integer

minimum_salary = minimum_salary.apply(lambda x: x.replace('K', ''))
maximum_salary = maximum_salary.apply(lambda x: x.replace('K', ''))

minimum_salary = minimum_salary.apply(lambda x: int(x.replace('$', '')))
maximum_salary = maximum_salary.apply(lambda x: int(x.replace('$', '')))

df['Min Salary'] = minimum_salary
df['Max Salary'] = maximum_salary

In [18]:
average_min_pay=df.groupby("Industry").mean()['Min Salary']
average_max_pay=df.groupby("Industry").mean()['Max Salary']

plt.plot(df['Industry'],df['Industry'].count())

groupby_df = df.groupby('Industry').count()
groupby_df.sort_values(by = "Salary Estimate", ascending = False)
df = df.head(10).sort_values(by = "Salary Estimate", ascending = False)
df = df['Salary Estimate'].plot(kind = "bar", figsize = (20,15), fontsize = 13)

AttributeError: module 'matplotlib' has no attribute 'plot'